
/*test styles*/
.sc-message {
    width: 300px;
    margin: auto;
    padding-bottom: 10px;
    display: flex;
}

.sc-message--content {
    width: 100%;
    display: flex;
}

.sc-message--content.sent .sc-message--text {
    color: #ffffff;
    background: #4e8cff;
    max-width: calc(100% - 120px);
    word-wrap: break-word;
}